// Place all the styles related to the admin::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-top-title{
	margin-bottom: 50px;
	background-color: silver;
	display: inline-block
}

.order-count{
	font-size: 20px;
}