<div class="container">
  <div class="row">
    <h2>注文情報確認</h2>
  </div>

  <div class="row">

    <div class="col-lg-8">
      <table class="table table-bordered">

        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>商品名が入る</td>
            <td>00</td>
            <td>00</td>
            <td>00</td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="col-lg-4">
        <table class="table table-bordered">

            <tb>
              <tr>
                <th>送料</th>
                <td>00</td>
              </tr>

              <tr>
                <th>商品合計</th>
                <td>00</td>
              </tr>

              <tr>
                <th>請求金額</th>
                <td>00</td>
              </tr>
            </tb>
        </table>
    </div>

  </div>


  <button class="btn btn-success">購入を確定する</button>

</div>
