<% if @model == 'member' %>
  <h3>会員の検索結果：検索ワード'<%= @content %>'</h3>
    <%= render 'admin/members/index', members: @records %>
  <% else @model == 'product' %>
  <h3>商品の検索結果：検索ワード '<%= @content %>'</h3>
    <%= render 'admin/products/index', products: @records %> 
  <% end %>
