<div class="col-xs-3 col-xs-offset-1" style="margin-top: 50px;">
  <%= render 'layouts/sidebar', genre: @genres %>
</div>

      <div class="col-lg-7">
          <div class="main-visual-content">
            <p class="top-text">
            ようこそNaganoCakeへ !</br>
              このサイトは、ケーキ販売のECサイトになります。</br>
              会員でない方も商品の閲覧はできますが、</br>
              購入には会員登録が必要になります</br>
            </p>
          </div>
        </div>
  </div>
