<table class="table table-striped">
  <div class="container">
    <div class="row">
      <div class="col-lg-7" style="background-color: orange;">
        <div class="main-visual">
          <div class="main-visual-content">
            <p>ようこそNaganoCakeへ !
              このサイトは、ケーキ販売のECサイトになります。
              会員でない方も商品の閲覧はできますが、
              購入には会員登録が必要になります
            </p>
                <%= image_tag('logo_002.jpg') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</table>
